.venueBoxes {
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 20px;
	position: static;
}

#venueImage {
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
}

.concertImage img {
	width: 246px;
	height: 177px;
}

.venueSubheading {
	width: 100%;
}

#venueDescription {
	font-size: 15px;
}

.title {
	background-color: #FFFF00;
}

.top {
	margin-top: 20px;
}

.info {
	border-bottom: 2px solid gray;
	margin: 6px 0 7px 6px;
}

h1, p {
	text-align: center;
}

#colorBody {
	background: #FFF8DC;
}

#flagWhite {
	height: 145px;
	width: 100%;
	background: white;
	position: static;
	padding-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: sticky;
	top: 0;
	z-index: 100;
}

#flagBlueOne {
	width: 100%;
	height: 20px;
	background: #AFEEEE;
	position: relative;
}

#flagBlueTwo {
	width: 100%;
	height: 20px;
	background: #AFEEEE;
	margin-top: 10px;
	position: relative;
}

#flagText {
	color: red;
	font-family: 'Dancing Script', cursive;

	font-size: 40px;

	margin-top: 5px;
	margin-bottom: 0px;
}

#flagText a:hover {
	text-decoration: none;
}

.likeButton img, .venueLikeButton img {
	width: 25px;
	height: 25px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

#nameTitle {
	margin-left: 75px;
	text-align: left;
}

#userName-input {
	margin-left: 75px;
}

#messageTitle {
	margin-left: 75px;
	text-align: left;
	margin-top: 10px;
}

#userMessage-input{
	margin-left: 75px;
}

#chatoutputs {
	background: white;
	margin-top: ;
	margin-left: 75px;
	margin-right: 70px;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ddd;
}

#sendMessage {
	margin-left: 75px;
	margin-top: 10px;
	margin-bottom: 20px;
}

b {
	color: red;
}

#pageHeader {
	background: white;
}

#homepage .card {
	margin-bottom: 30px;
}

#homepage .card-img-top {
	height: 200px;
	background-size: cover;
}

#homepage .card-text {
	text-align: left;
	height: 80px;
}

#homepage .card a {
	background: #B24200;
	border: 1px solid #ddd;
	color: #fff;
}

#venuePage .card {
	margin: 40px 0;
}

#venuePage .card-title {
	margin: -140px -20px 50px;
background: rgba(0, 0, 0, 0.6);
padding: 20px;
}

#venuePage .card-title h5 {
	font-size: 36px;
	color: #fff;
}

#venuePage .card-title small {
	display: block;
	font-size: 14px;
	width: 40%;
	color: #ccc;
}

#venuePage .card-text {
	text-align: left;
	margin: 20px 0;
}

#venuePage a.venueLikeButton {
	float: right;
	margin-top: -46px;
	font-size: 14px;
	color: #000;
	background: #fff;
	padding: 10px;
}

#venuePage .panel-default {
	background: #fff;
}