.venueBoxes {
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 20px;
	position: static;
}

#venueImage {
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
}

.concertImage img {
	width: 246px;
	height: 177px;
}

.venueSubheading {
	width: 100%;
}

#venueDescription {
	font-size: 15px;
}

.title {
	background-color: #FFFF00;
}

.top {
	margin-top: 20px;
}

.info {
	border-bottom: 2px solid gray;
	margin: 6px 0 7px 6px;
}

h1, p {
	text-align: center;
}

#colorBody {
	background: #FFF8DC;
}

#flagWhite {
	height: 145px;
	width: 100%;
	background: white;
	position: static;
	padding-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: sticky;
	top: 0;
	z-index: 100;
}

#flagBlueOne, #flagBlueTwo {
	width: 100%;
	height: 20px;
	background: #AFEEEE;
	position: relative;
}

#flagBlueTwo {
	margin-top: 10px;
}

#flagText {
	color: red;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#flagText:hover {
	text-decoration: none;
}

.likeButton img, .venueLikeButton img {
	width: 25px;
	height: 25px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.loginForm {
	width: 100%;
	text-align: center;
}

#displayName {
	width: 65%;
}

#nameTitle {
	margin-left: 5px;
	text-align: left;
}

#userName-input {
	margin-left: 5px;
}

#messageTitle {
	margin-left: 5px;
	text-align: left;
	margin-top: 10px;
}

#userMessage-input{
	margin-left: 5px;
}

#chatoutputs {
	background: white;
	margin: 0 90px 15px 5px;
	padding: 15px 20px 15px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 98%;
}

#sendMessage {
	margin: 20px 0 20px 10px;
}

b {
	color: red;
}

#pageHeader {
	background: white;
}

#homepage .card {
	margin-bottom: 30px;
}

#homepage .card-img-top {
	height: 200px;
	background-size: cover;
}

#homepage .card-text {
	text-align: left;
	height: 80px;
}

#homepage .card a {
	background: #B24200;
	border: 1px solid #ddd;
	color: #fff;
}

.btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#homepage .card a.directionsButton{
	background: #8FBC8F;
	color: black;
	margin-bottom: 0px
}

#homepage .card a.venueButton{
	background: #8FBC8F;
	color: black;
	margin-left: 15px;
	margin-bottom: 0px
}

#homepage .card h5.venueName{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
}

#venuePage .card {
	margin: 40px 0;
}

#venuePage .venueName {
	margin-left: 80px;
}

#venuePage .card-title h5 {
	font-size: 36px;
	color: #fff;
}

#venuePage .card-title small {
	display: block;
	font-size: 14px;
	width: 40%;
	color: #ccc;
}

#venuePage .card-text {
	text-align: left;
}

#venuePage a.venueLikeButton {
	float: right;
	margin-top: -46px;
	font-size: 14px;
	color: #000;
	background: #fff;
	padding: 10px;
}

#venuePage .panel-default {
	background: #fff;
}

.table {
	background: white;
	border: 1px solid #ddd;
	width: 1140px;
	margin-left: -15px;
}

#songkickLogo {
	height: 70px;
	width: 200px;
	position: relative;
}

.footerText {
	text-align: center;
	position: relative;
}